@use 'variables' as *;
@import 'openaq.scss';

* {
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: calc(100vh - 80px);

  .side-nav {
    top: 100px;
    flex: 1;
    border-right: 1px solid $smoke10;
  }

  .content {
    flex: 4;
    overflow-y: auto;
  }
}

.circle {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  span {
    font-size: 10px;
  }
}

.background-block {
  padding: 15px;
  margin: 10px;
}

.text-block {
  padding: 8px;
  margin: 10px;
}

.icon-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-table {
  table-layout: fixed;
  width: 480px;
  border-collapse: collapse;

  tr {
    border: 1px solid $smoke120;
  }

  td {
    width: 120px;
  }
}

.nav {
  &__item {
    padding: 8px 0;
    margin: 0 12px;
  }
}

.submenu {
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 320px;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  top: 10px;
  left: 0;
  display: none;

  &:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  &__item {
    height: 24px;
    margin: 12px;
  }
}

.nav-list {
  display: flex;
  list-style: none;
  justify-items: center;
  align-items: center;
}

.dropdown {
  position: relative;

  &:hover {
    .submenu {
      background-color: white;
      visibility: visible;
      opacity: 1;
      display: block;
      border: 1px solid #eaecf0;
      border-radius: 12px;
    }
  }
}

article {
  max-width: 700px;
  margin: 0 auto;

  section {
    margin: 40px 0;
  }
}

.code {
  background-color: $smoke30;
  padding: 10px;
  color: $smoke180;
}
