@use "../variables" as *;
@use "sass:map";

@mixin bubble($diameter: 230, $color-map) {
  $lighterTone: map.get($color-map, "60");
  $darkerTone: map.get($color-map, "100");

  height: $diameter * 1px;
  width: $diameter * 1px;
  border-radius: 100%;
  background: linear-gradient(
    135deg,
    $lighterTone 0%,
    rgba($darkerTone, 0) 100%
  );
}
