@use "../variables" as *;

@mixin bubble($diameter: 230, $lightColor, $darkcolor) {
  height: $diameter * 1px;
  width: $diameter * 1px;
  border-radius: 100%;
  background: linear-gradient(135deg, $lightColor 0%, rgba($darkcolor, 0) 100%);
}
