/* ==========================================================================
   Global: Page Prime Nav
   ========================================================================== */

.page__prime-nav {
  float: right;
  display: none; // TEMP
}

.page__prime-nav-title {
  display: none;
}

.nav-block {
  float: left;
  position: relative;
}

.browse-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  @include media(large-up) {
    float: left;

    > li {
      float: left;
      margin: 0 ($global-spacing * 1.5) 0 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.browse-menu__item {
  position: relative;
  display: block;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: $base-font-regular;
  margin: 0 (-$global-spacing);
  padding: ($global-spacing / 4) $global-spacing;

  &, &:visited {
    color: inherit;
  }

  &::after,
  > * {
    display: inline-block;
    vertical-align: top;
    line-height: inherit !important;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background: transparent;
    content: '';
  }

  &--active {
    font-weight: $base-font-bold;
    &::before {
      background: $base-color;
    }
  }

  @include media(large-up) {
    margin: 0;
    padding: ($global-spacing / 4) 0;

    &::before {
      top: auto;
      bottom: -1.5rem;
      height: 4px;
      width: 100%;
    }
  }
}