@use '../../../../../scss/mixins/index' as mixins;

.menu {
  .section-list {
    list-style: none;

    &__item {
      @include mixins.subtitle2;
      margin: 10px 0;
    }

    .page-list {
      list-style: none;
      &__item {
        @include mixins.link2;
        margin: 5px 0;
      }
    }
  }
}
