---
import '../styles/main.scss'
---
<section class="section-404">
<h2 class="heading-404">404 - the page couldn't be found</h2>
<p>Want to go back to the homepage? Click here: <a href="/">Homepage</a></p>
</section>