@use '../variables' as *;

.bg-brand {
  background-color: $brand-color;
}

.bg-base-interactive {
  background-color: $base-interactive-color;
}

.bg-base-data {
  background-color: $base-data-color;
}

.bg-status-ok {
  background-color: $status-ok-color;
}

.bg-status-alert {
  background-color: $status-alert-color;
}

.bg-status-warning {
  background-color: $status-warning-color;
}

@each $value, $hex in $skys {
  .bg-sky-#{$value} {
    background-color: #{$hex};
  }

  .text-sky-#{$value} {
    color: #{$hex};
  }
}

@each $value, $hex in $lavenders {
  .bg-lavender-#{$value} {
    background-color: #{$hex};
  }
  .text-lavender-#{$value} {
    color: #{$hex};
  }
}

@each $value, $hex in $oceans {
  .bg-ocean-#{$value} {
    background-color: #{$hex};
  }

  .text-ocean-#{$value} {
    color: #{$hex};
  }
}

@each $value, $hex in $mantes {
  .bg-mantis-#{$value} {
    background-color: #{$hex};
  }

  .text-mantis-#{$value} {
    color: #{$hex};
  }
}

@each $value, $hex in $corns {
  .bg-corn-#{$value} {
    background-color: #{$hex};
  }

  .text-corn-#{$value} {
    color: #{$hex};
  }
}

@each $value, $hex in $fires {
  .bg-fire-#{$value} {
    background-color: #{$hex};
  }

  .text-fire-#{$value} {
    color: #{$hex};
  }
}

@each $value, $hex in $smokes {
  .bg-smoke-#{$value} {
    background-color: #{$hex};
  }

  .text-smoke-#{$value} {
    color: #{$hex};
  }
}

.bg-us-epa-good {
  background-color: $us-epa-green;
}

.bg-us-epa-moderate {
  background-color: $us-epa-yellow;
}

.bg-us-epa-sensitive-groups {
  background-color: $us-epa-orange;
}

.bg-us-epa-unhealthy {
  background-color: $us-epa-red;
}

.bg-us-epa-very-unhealthy {
  background-color: $us-epa-purple;
}

.bg-us-epa-hazardous {
  background-color: $us-epa-maroon;
}
