@use '../variables' as *;
@use '../mixins/typography' as *;

.text-input {
  @include body2;
  padding: 8px 20px;
  border: 1px solid $smoke30;
  border-radius: 14px;

  ::placeholder {
    @include body2;
    opacity: 1;
  }

  &:hover {
    border: 1px solid $ocean100;
  }

  &:active {
    outline: none !important;
    border: 1px solid $ocean100;
  }

  &:focus {
    outline: none !important;
    border: 1px solid $ocean100;
  }

  &:invalid {
    border: 1px solid $fire100;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'><path fill='white' d='M0 0h24v24H0z'/><path d='M12 2a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm5 13.6L15.6 17 12 13.4 8.4 17 7 15.6l3.6-3.6L7 8.4 8.4 7l3.6 3.6L15.6 7 17 8.4 13.4 12l3.6 3.6z' fill='%23dd443c'/></svg>");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 22px) center;
  }

  &:placeholder-shown {
    background-image: none;
  }

  &--valid {
    border: 1px solid $mantis100;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'><path fill='none' d='M0 0h24v24H0z'/><path fill='%2389c053' d='M9 16.2 4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/></svg>");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 22px) center;
  }
}
