/* ==========================================================================
   Global: Cards
   ========================================================================== */

.card {
  display: flex;
  position: relative;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-align: left;
  flex: 1;
  min-width: 0;

  /* Animation */
  animation: reveal 0.8s ease 0s 1;
}

.card__contents {
  @extend %card-skin;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;

  /* Animation */
  transition: all 0.16s ease 0s;

  .card--active & {
    box-shadow: 0 4px 16px 2px rgba($primary-color, 0.32);
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

a.card__contents {
  color: inherit;

  &:hover {
    @extend %card-skin--active;
    transform: translate(0, -0.125rem);
    opacity: 1;
  }

  &:active {
    transform: translate(0, 0);
  }
}


/* Header
   ========================================================================== */

.card__header {
  display: flex;
  align-items: flex-start;
  padding: $contained-spacing;
  min-width: 0;

  .card__media + & {
    padding-top: 0;
  }

  .link-wrapper {
    color: inherit;
  }
}

.card__headline {
  > *:last-child {
    margin-bottom: 0;
  }
}

.card__title {
  @include heading(1.25rem, medium-up);
  margin: 0;
  flex: 1;

  a {
    color: inherit;
  }
}

.card__subtitle {
  position: relative;
  font-family: $heading-font-family;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: $base-color;
  margin: ($global-spacing / 4) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


/* Body
   ========================================================================== */

.card__body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  flex: 1;
  width: 100%;
  padding: $contained-spacing;

  .card__header + & {
    padding-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.card__prose {
  flex: 1;
  color: $base-font-color;

  > *:last-child {
    margin-bottom: 0;
  }
}

.card__details {
  flex: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 $global-spacing $global-spacing $global-spacing;

  > * {
    grid-column: auto / span 6;
    margin: 0;
  }

  dt {
    font-size: 0.75rem;
  }

  dd {
    font-size: 0.875rem;
    font-weight: $base-font-bold;

    &:nth-of-type(1) {
      order: 3;
    }

    &:nth-of-type(2) {
      order: 4;
    }
  }
}


/* Footer
   ========================================================================== */

.card__footer {
  margin-top: auto;
  padding: $contained-spacing;

  .card__body + & {
    padding-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}


/*  Header toolbar
   ========================================================================== */

.card__header-toolbar {
  @extend .toolbar, .toolbar--small;
  justify-content: flex-end;
  flex: 1 1 auto;
}


/* Media
   ========================================================================== */

.card__media {
  position: relative;
  padding: $contained-spacing;
  margin: 0;

  .link-wrapper {
    display: block;
  }

  img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
  }
}

.card__badge {
  width: 2.5rem;
  height: 2.5rem;
}

.card__cover {
  margin: -$contained-spacing;
}
