/* ==========================================================================
   Cards
   ========================================================================== */

.card {
  position: relative;
  text-align: initial;
  font-size: 1rem;
  line-height: 1.5rem;
}

.card__contents {
  position: relative;
  z-index: 1;
  display: block;
  background: #fff;
  box-shadow: 0 0 0 2px $base-alpha-color;
  border-radius: $base-border-radius;
  backface-visibility: hidden;
  padding: $global-spacing;
  overflow: hidden;

  &, &:visited {
    color: inherit;
  }

  /* Animation */
  transition: all 0.16s ease 0s;

  .card--active & {
    box-shadow: 0 0 0 2px rgba($base-color, 0.32);
  }
}


/* Card media
   ========================================================================== */

.card__media {
  position: relative;
  margin: 0 (- $global-spacing) ($global-spacing / 2) (- $global-spacing);

  img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
    transition: all 0.32s ease 0s;
  }

  &:first-child {
    margin-top: - $global-spacing;
  }

  &:last-child {
    margin-bottom: - $global-spacing;
  }

}

.card__thumbnail {
  position: relative;
  overflow: hidden;
  background: tint($base-color, 96%);
  margin: $global-spacing / 4;
  border-radius: $base-border-radius;
  min-height: 4rem;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    content: "";
    box-shadow: inset 0 0 0 2px $base-semi-alpha-color;
    pointer-events: none;
  }
}

/* Card header
   ========================================================================== */

.card__header {
  margin-bottom: $global-spacing;

  > *:last-child {
    margin-bottom: 0;
  }
}

.card__title {
  @include heading(1.25rem);
  margin: 0;
}

.card__subtitle {
  @extend .heading-alt;
  font-size: 0.875rem;
  line-height: 1.25rem;
}


/* Card body
   ========================================================================== */

.card__body {
  margin-bottom: $global-spacing / 2;
  font-size: 0.875rem;
  line-height: 1.25rem;

  > *:last-child {
    margin-bottom: 0;
  }
}


/* Card Horizontal Modifer
   ========================================================================== */

.card--horizontal {

  .card__thumbnail {
    max-height: 16rem;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @include media(medium-up) {
    display: table;
    width: 100%;

    .card__media,
    .card__copy {
      display: table-cell;
      vertical-align: top;
    }

    .card__media {
      // width: 48%;

      &:first-child {
        padding-right: $global-spacing;
      }

      &:last-child {
        padding-left: $global-spacing;
      }
    }

    .card__thumbnail {
      max-height: none;
      > img {
        width: auto;
        max-width: 15rem;
      }
    }
  }

}

.card__media,
.card__copy {
  .card--horizontal--align-top & {
    vertical-align: top;
  }

  .card--horizontal--align-bottom & {
    vertical-align: bottom;
  }

  .card--horizontal--align-middle & {
    vertical-align: middle;
  }
}
