@use './variables' as *;
@use './mixins/typography' as *;

@mixin btn-reset {
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid transparent;
}

@mixin btn-mixin {
  cursor: pointer;
  display: flex;
  padding: 11.5px 20px;
  border-radius: 100px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}

.icon-btn {
  @include button1;
  @include btn-reset;
  @include btn-mixin;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.btn {
  @include button1;
  @include btn-reset;
  @include btn-mixin;
  justify-content: center;
  align-items: center;

  &-primary {
    background-color: $ocean120;
    font-weight: 700;
    color: white;

    * {
      color: white;
    }

    &--disabled {
      background-color: $smoke30;
      pointer-events: none;
    }

    &:hover {
      background-color: $ocean100;
    }

    &:active {
      border: 1px solid $ocean120;
    }
  }

  &-secondary {
    background-color: $ocean10;
    font-weight: 700;
    color: $ocean120;
    border: 1px solid $ocean30;

    * {
      color: $ocean120;
    }

    &--disabled {
      background-color: $smoke10;
      pointer-events: none;
      color: $smoke120;

      * {
        color: $smoke120;
      }
    }

    &:hover {
      background: $ocean30;
    }

    &:active {
      background: $ocean30;
      border: 1px solid $ocean100;
    }
  }

  &-tertiary {
    background-color: white;
    font-weight: 700;
    border: 1px solid $smoke30;
    color: $smoke120;

    * {
      color: $smoke120;
    }

    &--disabled {
      background-color: $smoke10;
      pointer-events: none;
      color: $smoke120;

      * {
        color: $smoke120;
      }
    }

    &:hover {
      background: $smoke10;
      border: 1px solid $smoke120;
    }

    &:active {
      background: #e8ebed;
      border: 1px solid $ocean100;
    }
  }
}

.close-btn {
  @include btn-reset;
  background-color: transparent;
  border: none;
}
